@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;

}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}
.projects {
  padding: 37px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  gap: 30px;
  width: 100%;
}
.projects::-webkit-scrollbar {
  display: none;
}
