@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* background: linear-gradient(135deg, #0f25a5, #171f5b); */
  border: 2px inset rgb(0, 255, 255, .2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 24px;
  max-width: 345px;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.04);
}

.image {
  border-radius: 12px;
  height: 210px;
  object-fit: cover;
}

.info-section {
  flex-grow: 1; /* Take remaining space */
}

.title {
  padding-top: 12px;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 12px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-light);
  margin-bottom: 12px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  cursor: pointer;
}

.skill {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-light);
  background: var(--color-dark);
  padding: 6px 12px;
  border-radius: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  background: var(--color-primary);
  transition: background 0.3s ease;
}

.link:hover {
  background:  rgb(0, 255, 255,.6);
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
